.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding: 10px;
}

ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width:100%;
}

li{
    margin-right: 2rem;
    list-style-type: none;
    cursor: pointer;
}

ul li:nth-child(2){
    margin-left: auto;
}

ul li img{
    border-radius: 50%;
    border: 2px solid white;
}

ul li p{
    text-transform: capitalize;
}


